<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <partial name="_HeaderPartialLinks" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area=""
                               asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@                        

                        @*https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-sign-user-sign-in?tabs=aspnetcore*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="collapse navbar-collapse justify-content-end">
                                <a class="nav-link text-dark" asp-area=""
                                   asp-controller="Account" asp-action="SignOut">Sign Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="collapse navbar-collapse justify-content-end">
                                <a class="nav-link text-dark" asp-area=""
                                   asp-controller="Account" asp-action="Login">Login</a>
                                <a class="nav-link text-dark" asp-area=""
                                   asp-controller="Account" asp-action="SignUp">Sign Up</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light"
                   asp-controller="Home" asp-action="Users">Users (Cookie Auth)</a>
                <a class="list-group-item list-group-item-action bg-light"
                   asp-controller="Home" asp-action="Privacy">Users Privacy & Policy (Policy Auth)</a>
                <a class="list-group-item list-group-item-action bg-light"
                   asp-controller="Home" asp-action="UsersRole">Users Role (Role Auth)</a>
                <a class="list-group-item list-group-item-action bg-light"
                   asp-controller="Home" asp-action="AdminUser">Admin Role (Role Auth)</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="page-content-wrapper container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="text-right text-dark">Hello @User.Identity.Name!</span>
                }
            </div>
        </footer>
    </div>
    <partial name="_FooterPartialScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>